<div class="main about-container">
  <img class='about-image' src='assets/about_image.jpeg'>
  <p class='about-over-image'>買い物リストとは</p>
  <div class="description">
    <p>買い物したいものを覚えておくためのリマインダーです</p>
    <p>グループを作ってグループのメンバーに頼むこともできます</p>
    <p class="about-new">さあ、<%= link_to("新規登録", "/signup", class: "about-signup") %>して始めよう！</p>
  </div>
</div>
